@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins&display=swap');

$font-heading: 'Merriweather', serif;
$font-body: 'Poppins', sans-serif;

$base-font-size: 16px;

$small: 500px;
$medium: 750px;
$large: 1200px;

$radius: 25px;
$transition: 0.15s;

$colours: (
  transparent: #00000000,
  off-white: #F8F8F8,
  very-light-grey: #EEEEEE,
  light-grey: #E5E5E5,
  grey: #C9C9C9,
  blue-grey: #73749C,
  dark-blue:#242672,
  navy: #191B4A,
  navy-translucent: #191B4A1A,
  gold: #FFD66C,
  orange: #EFB153,
);