* {
  box-sizing: border-box;
}

body,
input,
button {
  font-family: $font-body;
  @include font-size($base-font-size);
}

body {
  margin: 0 auto;
  overflow: hidden;
}

button {
  cursor: pointer;
}

.content-wrapper {
  max-width: $large;
  margin: auto;
  padding: 0 1.5rem;
  position: relative;
}
