.header-content {
  @include mq-min($small) {
    display: flex;
    align-items: center;
    margin: 3rem auto 0;
  }
}

.mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 0 1.5rem;

  @include mq-min($small) {
    margin: 0;
  }
}

.logo {
  margin-right: 1.5rem;

  @include mq-min($medium) {
    margin-right: 3rem;
  }
}

.logo img {
  display: block;
  width: 150px;
}

.nav-toggle-btn {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.nav-toggle-btn img {
  filter:
    invert(69%) 
    sepia(8%) 
    saturate(323%) 
    hue-rotate(217deg) 
    brightness(89%) 
    contrast(89%);
  display: block;
  height: 30px;
  width: 30px;
}

.page-nav {
  @include mq-max($small) {
    background-color: colour(dark-violet);
    border-radius: $radius;
    padding: 1rem 1rem 1.5rem;
    position: absolute;
    text-align: center;
    width: calc(100% - 3rem);
    z-index: 10;
  }

  @include mq-min($small) {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0 0.5rem;

  @include mq-min($small) {
    display: flex;
    gap: 2.5rem;
  }
}

.nav-list li {
  margin: 0.65rem auto;
}

.nav-list a {
  font-weight: bold;
}

.nav-list a:not(.btn-primary) {
  display: block;
  color: white;
  padding: 0.5rem 0;
  text-decoration: none;

  @include mq-min($small) {
    color: colour(greyish-violet);
  }
}

.nav-list a:not(.btn-primary):hover {
  @include mq-min($small) {
    color: colour(off-black);
  }
}


.nav-list-break {
  background-color: colour(violet);
  border: 0;
  height: 1px;
  margin: 1.5rem auto;
}

.account-controls {
  gap: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  @include mq-min($medium) {
    gap: 3rem;
  }
}