.btn {
  border-radius: $radius;
  display: inline-block;
  font-weight: bold;
  padding: 0.6rem 2rem;
  text-align: center;
  text-decoration: none;
}

.btn-primary {
  @extend .btn;

  background-color: colour(cyan);
  color: white;

  &:hover {
    background-color: colour(light-cyan);
  }
}

.round {
  border-radius: calc($radius * 5);
}

.larger {
  font-size: 1.2em;
  padding: 1.1rem 3rem;
}

.full-width {
  width: 100%;
}

.hide-on-desktop {
  @include mq-min($small) {
    display: none;
  }
}

.hide-on-mobile {
  @include mq-max($small) {
    display: none;
  }
}
